body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

video {
    width: 100vw;
    bottom: 0;
    position: fixed;
}

.app-container {
    .header-container {
        .navbar {
            z-index: 10;
            background-color: rgba(0, 0, 0, 0) !important;
            padding: 20px 0;

            .nav-link {
                &.active {
                    color: #00bfff;
                }
            }
        }
    }

    .app-content {
        .homepage-content {
            position: relative;
            z-index: 10;
            width: 60%;
            padding: 100px 300px;

            .title2 {
                line-height: 40px;
                margin: 40px 0;
            }
        }
    }
}

@media (min-width: 1600px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1520px !important;
    }
}
